registry=https://registry.npmjs.org/
@azure:registry=https://pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/
@azure-ai-vision-face:registry=https://pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/
always-auth=true
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:_authToken=${AZURE_NPM_TOKEN}